input {
    margin-bottom: 30px;
    font-size: 25px;
    clear: both;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

h1 {
    font-size: 60px;
    padding-top: 70px;
    padding-bottom: 100px;
    text-align: center;
}

button {
    font-size: 25px;
    margin: auto;
    background: #99ccff;
    color: #f5f5f5;
}

button:hover {
    background: #66b3ff;
    color: #fafafa;
}

label {
    font-size: 30px;
    word-wrap: break-word;
    max-width: 200px;
    width: 150px;
}

.item {
    font-size: 20px;
    height: 50px;
}

#menu a:hover {
    color: #99ccff;
    font-size: 22px;
}

body {
    background: #fafafa;
}

#menu img {
    width: 3%;
    height: 3%;
}

.ui.table thead th{
    font-weight: 450;
    min-width: 20px;
    max-width: 50px;
    font-family: var(--bs-font-sans-serif);
    font-size: 20px;
}

img {
    width: 170em;
    height: 30em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.ui.secondary.pointing.menu {
    background-color: rgba(200,200,200,0.3);
}


#menu a {
    text-decoration: none;
    color: #000;
}

.active{
    font-weight: 600;
}
